<div class="album">
    <a href="{{relative url}}">
        {{#albumCover files previews as |coverUrl|}}
        <img class="album-cover" src="{{relative coverUrl}}" alt="{{title}}">
        {{/albumCover}}

        <div class="album-info">
            <div class="album-title">{{title}} <span class="album-count">({{stats.photos}})</span></div>
            <div class="album-last-updated">{{monthYear stats.toDate}}</div>
        </div>
    </a>
</div>
